.App {
  text-align: center;
}

body {
  background: #2ecc71;
}
.preview {
  min-height: 400px;
  min-width: 300px;
  border: 2px solid grey;
  padding: 5px;
  background: #fff;
  border: none;
  border-radius: 5px;
}
