.App {
  text-align: center;
}

body {
  background: #2ecc71;
  font-family: Poppins;
}
.preview {
  min-height: 800px;

  border: 2px solid grey;
  padding: 5px;
  background: #fff;
  border: none;
  border-radius: 5px;
}
